<div class="content-wrapper">
  <br>
  <div class="">
    <div class="box box-primary">

      <div class="container">
        <div [hidden]="submitted">
          <h1>Registrar Egreso</h1>
          <br>
          <form (ngSubmit)="onSubmit()" #EgresoForm="ngForm" class="jumbotron">
            
                <div class="form-group col-sm-8">
                <label>Sucursal al que pertenece</label>
                <select class="form-control" id="sucursals" [(ngModel)]="egresoSucursal" name="sucursals" #sucursals="ngModel" required>
                  <option *ngFor="let sucursal of sucursales" [value]="sucursal._id">{{sucursal.name}}</option>
                </select>
                <!-- <div [hidden]="events.valid || events.pristine" class="text-alert">
                  *Sucursal is required
                </div> -->
              </div>
              <div class="form-group col-sm-8">
                  <label for="areaSelect"><i class="fa fa-tag prefix grey-text"></i>Área</label>
                  <select class="form-control" id="areaSelect" [(ngModel)]="areaSelected" (change)="captArea()" name="areaSelect" #areaSelect="ngModel">
                  <option value="P">Prog. Profesionales</option>
                  <option value="F">Prog. Financiados(sólo Santa Cruz)</option>
                  <option value="A">Administrativa</option>
                  </select>
              </div>
              <div class="form-group col-sm-8">                  
                  <p *ngIf="areaSelected == 'P' || areaSelected == 'F'">
                    <label for="general" style="font-size: small"><i class="grey-text"></i>General</label>
                    <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                    [(ngModel)]="catGeneral"> -->
                    <select class="form-control" id="general" [(ngModel)]="catGeneral" (change)="captArea()" name="general" #general="ngModel">
                      <option value='1'>Refrigerio</option>
                      <option value='2'>Salon</option>
                      <option value='3'>Publicidad</option>
                      <option value='4'>Facilitadores</option>
                      <option value='5'>Material</option>
                      <option value='6'>Otros</option>
                      </select>
                  </p>
              
              
                
                <p *ngIf="catGeneral == '1'">
                  <label  style="font-size: small">Específica</label>
                  <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                  [(ngModel)]="catGeneral"> -->
                  <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                    <option value="1">Comida</option>
                    <option value="2">Bebida</option>
                    <option value="3">Insumos</option>
                    <option value="4">Transporte</option>
                    </select>
                </p>
              
            
              
              <p *ngIf="catGeneral == '2'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Alquiler</option>
                  <option value="2">Alquiler, equipos y otros</option>
                  <option value="3">Limpieza</option>
                  <option value="4">Transporte ida y vuelta</option>
                  
                  </select>
              </p>
          
          
            
            <p *ngIf="catGeneral == '3'">
              <label  style="font-size: small">Específica</label>
              <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
              [(ngModel)]="catGeneral"> -->
              <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                <option value="1">Periódico</option>
                <option value="2">Radio</option>
                <option value="3">Television</option>
                <option value="4">Internet/Facebook</option>
                <option value="5">Transporte</option>
                <option value="6">Pegado de afiches</option>
                </select>
            </p>
      
       
          
          <p *ngIf="catGeneral == '4'">
            <label  style="font-size: small">Específica</label>
            <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
            [(ngModel)]="catGeneral"> -->
            <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
              <option value="1">Honorarios</option>
              <option value="2">Viáticos</option>
              <option value="3">Hospedaje</option>
              <option value="4">Transporte</option>
              
              </select>
          </p>
      
        
        <p *ngIf="catGeneral == '5'">
          <label  style="font-size: small">Específica</label>
          <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
          [(ngModel)]="catGeneral"> -->
          <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
            <option value="1">Escritorio</option>
            <option value="2">Fotocopias</option>
            <option value="3">Adicional para clases</option>
            <option value="4">Transporte</option>
            
            </select>
        </p>
     
        
        <p *ngIf="catGeneral == '6'">
          <label  style="font-size: small">Específica</label>
          <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
          [(ngModel)]="catGeneral"> -->
          <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
            <option value="1">Devolución inscripción</option>
            
          </select>
        </p>
              <p *ngIf="areaSelected == 'A'">
                <label for="general"  style="font-size: small"><i class="fa grey-text"></i>General</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="general" [(ngModel)]="catGeneral2" (change)="captA()" name="general" #general="ngModel">
                  <option value='1'>Oficina</option>
                  <option value='2'>Recursos Humanos y Consultorías</option>
                  <option value='3'>Obligaciones</option>
                  <option value='4'>Equipos</option>
                  <option value='5'>Imprenta</option>
                  <option value='6'>Fotocopias</option>
                  <option value='7'>Otros gastos</option>
                  <option value='8'>Gastos extras</option>
                  </select>
              </p>
          
         
              
              <p *ngIf="catGeneral2 == '1' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Alquiler</option>
                  <option value="2">Expensas</option>
                  <option value="3">Luz</option>
                  <option value="4">Agua</option>
                  <option value="5">Teléfono</option>
                  <option value="6">Celulares</option>
                  <option value="7">Material de escritorio</option>
                  <option value="8">Material de limpieza</option>
                  <option value="9">Gastos movilidades</option>
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '2' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Sueldo</option>
                  <option value="2">Anticipos</option>
                  <option value="3">Viáticos</option>
                  <option value="4">Hospedaje</option>
                  <option value="5">Pasajes viajes</option>
                  <option value="6">Finiquito</option>
                  <option value="7">Honorarios consultorías</option>                                 
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '3' && areaSelected == 'A'">
                <label  style="font-size: small">Especifica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Impuestos</option>
                  <option value="2">Patentes</option>
                  <option value="3">AFP</option>
                  <option value="4">Caja de Salud</option>
                  <option value="5">Ministerio de trabajo</option>
                  <option value="6">FUNDAEMPRESA</option>
                  <option value="7">Auditorías</option>                                 
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '4' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Mantenimiento</option>
                  <option value="2">Compra</option>
                  <option value="3">Repuestos</option>                               
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '5' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Afiches y volantes</option>
                  <option value="2">Folders</option>
                  <option value="3">Tarjetas</option>
                  <option value="4">Bolígrafos</option>
                  <option value="5">Tapas</option>
                  <option value="6">Certificados</option>                                                   
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '6' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Compra de hojas</option>
                  <option value="2">Compra de toner</option>
                  <option value="3">Compra de anillos</option>
                  <option value="4">Repuestos</option>
                  <option value="5">Mantenimiento</option>                  
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '7' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <!-- <input type="text" placeholder="Refrigerio" name="refrigerio" #refrigerio="ngModel"
                [(ngModel)]="catGeneral"> -->
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Alimentación</option>
                  <option value="2">Periódico</option>
                  <option value="3">Avisos clasificados</option>
                  <option value="4">Transporte, peaje, parqueo</option>
                  <option value="5">Corrección de trabajos</option>
                  <option value="6">Arreglo de jardín</option>
                  <option value="7">Mantenimiento de oficina</option> 
                  <option value="8">Fondos a sucursales</option>                                 
                  </select>
              </p>
              <p *ngIf="catGeneral2 == '8' && areaSelected == 'A'">
                <label  style="font-size: small">Específica</label>
                <select class="form-control" id="especifica" [(ngModel)]="catEspecifica" (change)="captArea()" name="especifica" #especifica="ngModel">
                  <option value="1">Varios(Dra/Ing)</option>
                </select>
              </p>
              <p *ngIf="areaSelected == 'P' || areaSelected == 'F'">
                <label for="events"  style="font-size: small">Eventos</label>
                <select class="form-control" id="events" [(ngModel)]="egresoEvent" name="events" (change)="capModu()" #events="ngModel" required>
                  <option *ngFor="let event of eventos" [value]="event._id">{{event.name}}</option>
                </select>
              </p>
              <p *ngIf=" areaSelected == 'P' || areaSelected == 'F' &&  egresoEvent != null">
                <label for="moduls"  style="font-size: small">Modulos</label>
                <select class="form-control" id="moduls" [(ngModel)]="modularsId" name="moduls" #moduls="ngModel" required>
                  <option *ngFor="let mo of modulos" [value]="mo._id">{{mo.name}}</option>
                </select>
              </p>
            </div>  
            
              <div class="form-group col-sm-8">
                <label for="recibo">Número de Recibo</label>
                <input type="text" pattern="[a-zA-Z0-9]{1,25}" class="form-control" id="recibo" [(ngModel)]="egresoRecibo" 
                name="recibo" #recibo="ngModel" required>
                <span *ngIf="!recibo.untouched && egresoRecibo == undefined" class="text-alert">
                    *El número de Recibo es requerido no se permiten simbolos y letras
                <br>
                </span>
                <span *ngIf=" recibo.dirty && recibo.touched && !recibo.valid && egresoRecibo > 999999999999999" class="text-alert">
                  *El número de Recibo es invalido sobre paso el limite de dígitos.
                <br>
                </span>
                <span *ngIf="recibo.dirty && recibo.touched && !recibo.valid && egresoRecibo != null && egresoRecibo < 1000 " class="text-alert">
                  *El número de Recibo es invalido tiene menos de 3 dígitos.
                <br>
                </span>
                
                
                <!--<div [hidden]="recibo.valid || recibo.pristine" class="text-alert">
                  recibo es requerido o el tipo de dato es invalido 
                </div>-->
              </div>

              <div class="form-group col-sm-8">
                <label for="monto">Monto</label>
                <input type="number" pattern="[0-9]{0,6}" class="form-control" id="monto" [(ngModel)]="egresoMonto" 
                name="monto" #monto="ngModel" required>
                <span *ngIf="!monto.untouched && egresoMonto == undefined" class="text-alert">
                    *El monto de Recibo es requerido, no se permiten simbolos y letras
                <br>
                </span>
                <span *ngIf=" monto.dirty && monto.touched && !monto.valid && egresoMonto > 99999" class="text-alert">
                  *El monto de Recibo es invalido, sobre paso el limite de dígitos.
                <br>
                </span>
                <!-- <span *ngIf="monto.dirty && monto.touched && !monto.valid && egresoMonto != null && egresoMonto < 1000 " class="text-alert">
                  *El monto de Recibo es invalido tiene menos de 3 dígitos.
                <br>
                </span> -->
                <!--<div [hidden]="monto.valid || monto.pristine" class="text-alert">
                  Monto es requerido o el tipo de dato es invalido 
                </div>-->
              </div>
              <div class="form-group col-sm-8" style="text-align:center">
                <button type="submit" class="btn btn-success" [disabled]="!EgresoForm.form.valid">Guardar</button>
                <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
              </div>
          </form>
        </div>
    <!-- <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ model[1] }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model[2] }}</div>
        </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{ model[5] }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">monto</div>
        <div class="col-xs-9 pull-left">{{ model[6] }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div> -->
      </div>
    </div>
  </div>
</div>