<div class="content-wrapper">
  <br>
  <div class="content">
        <div class="box box-primary">

          <div class="container">
            
            <h2>Importar Números de Excel</h2>
            
            <div class="form-group ">
              <label for="file"><h3>Elegir Archivo</h3></label>
              <input type="file" id="file" (change)="handleFileInput($event.target.files)">
              <br>
              <button type="button" class="btn btn-success" (click)="uploadFileToActivity()">Cargar Archivo</button>
            </div>
           
           </div>

          </div>
    </div>
</div>