<div class="content-wrapper">
  <br>
  <div class="">


 
  <div class="box box-primary">

<div class="container">
    <div [hidden]="submitted">
      <h1>Hero Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo"
                 required
                 [(ngModel)]="model[1]" name="titulo"
                 #titulo="ngModel">
          <div [hidden]="titulo?.valid || titulo?.pristine"
               class="alert alert-danger">
            first Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion">last Name</label>
          <input type="text" class="form-control" id="descripcion"
                 required
                 [(ngModel)]="model[2]" name="descripcion"
                 #descripcion="ngModel">
          <div [hidden]="descripcion?.valid || descripcion?.pristine"
               class="alert alert-danger">
            last Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="cell">cell</label>
          <input type="number" class="form-control" id="cell"
                 required
                 [(ngModel)]="model.cell" name="cell"
                 #cell="ngModel">
          <div [hidden]="cell?.valid || cell?.pristine"
               class="alert alert-danger">
            cell is required
          </div>
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email"
                   required
                   [(ngModel)]="model.email" name="email"
                   #email="ngModel">
            <div [hidden]="email?.valid || email?.pristine"
                 class="alert alert-danger">
                 email is required
            </div>
          </div>
   
        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" id="alterEgo"
                 [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>
   
        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power"
                  required
                  [(ngModel)]="model.power" name="power"
                  #power="ngModel">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
          <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
            Power is required
          </div>
        </div>
   
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="heroForm.reset()">New Hero</button>
      </form>
    </div>
   
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ model.titulo }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model.descripcion }}</div>
        </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left">{{ model.power }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
  </div>

  </div>

</div>
</div>