<div class="content-wrapper">
  <section class="content">
     <!--<div>
        <ol class="breadcrumb">
           <li>
              <a class="btn btn-primary" [routerLink]="['/home/inscription/'+event._id]">
                 <i class="fa fa-book"></i>Inscribir Persona</a>
           </li>
        </ol>
     </div>-->
     <div>
        <h3>Lista de requisitos del evento: {{event?.name}}</h3>
     </div>
     <table class="table table-hover">
        <thead class="text-center">
           <tr>
              <th>Nombre</th>
              <th>Fotografias</th>
              <th>Fotocopia de CI</th>
              <th>Fotocopia del Titulo</th>
              <th colspan="2">Actualizar</th>
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let i of inscriptions" class="text-center">
              <!-- <td>{{ i.name }}</td>
              <td>{{i.photograpy}}</td>
              <td>{{i.photocopy_ci}}</td>
              <td>{{i.photocopy_titule}}</td> -->
              <td>{{ i.name }}</td>
              <td>
                  <label class="checkbox-inline"><input type="checkbox" value="" class="check" [defaultChecked]="i.photograpy" [disabled]="i.photograpy" ></label>
              </td>
              <td>
                  <label class="checkbox-inline"><input type="checkbox" value="" class="check" [defaultChecked]="i.photocopy_ci" [disabled]="i.photocopy_ci"></label>
              </td>
              <td>
                <label class="checkbox-inline"><input type="checkbox" value="" class="check" [defaultChecked]="i.photocopy_titule" [disabled]="i.photocopy_titule"></label>
            </td>
              <td>
                  <a class="btn btn-success" (click)="update(i.position, i.idPerson, i.idProfile)">GUARDAR</a>
              </td>
           </tr>
        </tbody>
     </table>
     <br>
    <div align="center">
        <button class="btn btn-primary" (click)="cancelar()">Volver</button>
    </div>
    
  </section>
  <router-outlet></router-outlet>
</div>