<div class="container">
  <div class="row">
    <div class="col-md-4 toppad  pull-right col-md-offset-3 ">
      <br>
      <p class="text-info">Fecha: {{date | date}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4 toppad" >
      <h3 class="text-info" align="center">Detalles del Programa</h3>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{program?.name}}</strong></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-12 col-lg-12 ">
                <strong>Asistencia por modulos:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr *ngFor="let i of modulars" [ngSwitch]="i.print_certificate">
                    <td>{{i.name}}</td>
                    <td *ngIf="i.assist==true">Asistio</td>
                    <td *ngIf="i.assist==false">No asistio</td>
                    <!-- <td *ngIf="i.print_certificate==true">Certificado impreso</td>
                    <td *ngIf="i.print_certificate==false">Falta imprimir certificado</td> -->
                    <td *ngSwitchCase="false">
                      <button *ngIf="i.assist==true" class="btn btn-warning" (click)="printCertificate(i.modules)">Imprimir Certificado</button> 
                    </td>
                    <td *ngSwitchCase="true">
                      <button *ngIf="i.assist==true" class="btn btn-success" disabled>Certificado Impreso</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            <strong>Detalles de pago:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Costo total</td>
                    <td>{{profile?.total_price}}</td>                                                                                       
                  </tr>
                  <tr>
                      <td>Monto cancelado</td>                                        
                      <td>{{profile?.payed}}</td>                                      
                  </tr>                  
                  <tr> 
                      <td>Deuda</td>                                        
                      <td>{{profile?.debt}}</td>
                  </tr>                                  
                </tbody>
              </table>
            <strong>Entrega de requisitos para diploma:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Fotografias</td>*
                    <td *ngIf="requirements?.photograpy==true">Entregado</td>
                    <td *ngIf="requirements?.photograpy==false">No entrego</td>
                  </tr>
                  <tr>
                    <td>Fotocopia de carnet de identidad</td>
                    <td *ngIf="requirements?.photocopy_ci==true">Entregado</td>                    
                    <td *ngIf="requirements?.photocopy_ci==false">No entrego</td>                    
                  </tr>
                  <tr>
                    <td>Fotocopia de titulo profesional</td>
                    <td *ngIf="requirements?.photocopy_titule==true">Entregado</td>                                        
                    <td *ngIf="requirements?.photocopy_titule==false">No entrego</td>                                        
                  </tr>
                </tbody>
              </table>
            <strong>Trabajo Final y Entrega de Diploma:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>
                      <a class="btn btn-primary fa fa-plus" (click)="addFinalWork(ppId)"> Trabajo Final</a>
                        <!-- <a class="btn btn-success" [routerLink]="['/home/finalWork/add'+ personId]">
                           <i class="fa fa-plus"></i>Trabajo Final</a> -->
                    </td>
                  </tr>
                  <tr>
                    <td>Fecha de inicio</td>
                    <td>{{finalWork?.date_start | date}}</td>
                  </tr>
                  <tr>
                    <td>Nombre del trabajo</td>
                    <td>{{finalWork?.name}}</td>
                  </tr>
                  <tr>
                    <td>Procedencia</td>
                    <td>{{finalWork?.origin}}</td>
                  </tr>
                  <tr>
                    <td>Facilitador asignado</td>
                    <td>{{facilitator?.name}}</td>
                  </tr>
                  <tr>
                    <td>Fecha final</td>
                    <td *ngIf="finalWork?.date_end==null">Trabajo no finalizado...</td>
                    <td><strong>{{finalWork?.date_end | date}}</strong></td>
                  </tr>
                  <tr>
                    <td>Entrega de Diploma</td>
                    <td *ngIf="profile?.print_diploma==true"><strong>Realizado!!!</strong></td>
                    <td *ngIf="profile?.print_diploma==false">Pendiente...</td>
                  </tr>
                </tbody>
              </table>
            <strong>Revisiones:</strong>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td *ngIf="close==null">
                      <a class="btn btn-primary fa fa-plus" (click)="addReview(ppId)"> Añadir Revision</a>
                    </td> 
                  </tr>
                  <tr *ngFor="let i of reviews">
                    <td>{{ i.date_review | date}}</td>
                    <td *ngIf="i.state==1">Recepcionado para correccion</td>
                    <td *ngIf="i.state==2">Entregado a facilitador para 1ra correccion</td>
                    <td *ngIf="i.state==3">Trabajo pendiente de entrega a alumno</td>
                    <td *ngIf="i.state==4">Entregado a alumno / enviado a sucursal</td>
                    <td *ngIf="i.state==5">Trabajo final recepcionado (Diploma pendiente)</td>
                    <td *ngIf="i.state==6">Con diploma realizado</td>
                    <td *ngIf="i.state==7">Entregados</td>
                    <td *ngIf="i.state==8">Recepcion para 2da revision</td>
                    <td *ngIf="i.state==9">Entregado a facilitador para 2da correccion</td>
                    <td>{{ i.observations }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
      <br>
      <div align="center">

        <button class="btn btn-primary" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>