<div class="content-wrapper">
  <div class="content">
    <div class="box box-warning">
      <section class="content-header">
          <h1>
              Ups, Usted no tiene permisos para esta Vista.
            </h1>
            
            <h6>Consulte con el Administrador.</h6>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      

      </section>
     
      
    </div>

  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
