<div class="content-wrapper">
    <section class="content">
       <div>
          <ol class="breadcrumb">
             <li>
                <a class="btn btn-primary" [routerLink]="['/home/inscription/'+event._id]">
                   <i class="fa fa-book"></i>Registrar Estado</a>
             </li>
          </ol>
       </div>
       <div>
          <h3>Registro de estados del Trabajo Final de la Persona: {{person.name}}</h3>
       </div>
       <table class="table table-hover">
          <thead>
             <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Procedencia</th>
                <th>Facilitador</th>
                <th colspan="2">Revisiones</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td>fecha</td>
                <td>Nombre</td>
                <td>procedencia</td>
                <td>facilitador</td>
                <td>
                    <!--<form action="/action_page.php" method="get">
                      <input type="checkbox" name="state" value="1"> Recepcionado para correcion<br>
                      <input type="checkbox" name="state" value="2" > Entregado a facilitador para 1ra correcion<br>
                      <input type="checkbox" name="state" value="3" > Trabajo pendiente de entrega a alumno<br>
                      <input type="checkbox" name="state" value="4" > Entregado a alumno / enviado a sucursal<br>
                      <input type="checkbox" name="state" value="5" > Trabajo final recepcionado (Diploma pendiente)<br>
                      <input type="checkbox" name="state" value="6" > Con diploma realizado<br>
                      <input type="checkbox" name="state" value="7" > Entregados<br>
                      <input type="checkbox" name="state" value="8" > Recepcion para 2da revision<br>
                      <input type="checkbox" name="state" value="9" > Entregado a facilitador para 2da correcion<br>
                      
                      <input type="submit" value="Submit">
                    </form>-->
                    <form>
                        <div class="form-group">
                          <select class="form-control" id="sel1">
                            <option>Recepcionado para correcion</option>
                            <option>Entregado a facilitador para 1ra correcion</option>
                            <option>Trabajo pendiente de entrega a alumno</option>
                            <option>Entregado a alumno / enviado a sucursal</option>
                            <option>Trabajo final recepcionado (Diploma pendiente)</option>
                            <option>Con diploma realizad</option>
                            <option>Entregados</option>
                            <option>Recepcion para 2da revision</option>
                            <option>Entregado a facilitador para 2da correcion</option>
                          </select>
                        </div>
                    </form>
                </td>
             </tr>
          </tbody>
       </table>
    </section>
    <router-outlet></router-outlet>
  </div>