<div class="content-wrapper">
  <section class="content">
     <!--<div>
        <ol class="breadcrumb">
           <li>
              <a class="btn btn-primary" [routerLink]="['/home/inscription/'+event._id]">
                 <i class="fa fa-book"></i>Inscribir Persona</a>
           </li>
        </ol>
     </div>-->
     <div>
        <h3>Cuentas por cobrar del evento {{event?.name}}</h3>
     </div>
     <table class="table table-hover">
        <thead>
           <tr>
              <th>Nombre Completo</th>
              <th>Celular</th>
              <th>Precio del Evento</th>
              <th>Monto Cancelado</th>
              <th>Deuda</th>
              <!--<th colspan="2">Actualizar</th>-->
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let i of states">
              <td>{{ i.name }}</td>
              <td>{{ i.cellphone }}</td>
              <td>{{ i.price_event }}</td>
              <td>{{ i.canceled_price }}</td>
              <td>{{ i.price_event - i.canceled_price }}</td>
           </tr>
        </tbody>
     </table>
     <br>
    <div align="center">
      <button class="btn btn-primary" (click)="cancelar()">Volver</button>
    </div>

  </section>
  <router-outlet></router-outlet>
</div>
