<div class="content-wrapper">
   <section class="content">
      <!-- <app-addPerson (messageEvent)="receiveMessage()"></app-addPerson> -->
      <!-- <a class="btn btn-primary" (click)="addPerson()">Registrar Persona</a> -->
      <!-- <app-persona></app-persona> -->
      <div>     
            <ol class="breadcrumb">
                <li><a class="btn btn-primary" [routerLink]="['/home/persons/add']"><i class="fa fa-book"></i>Add Personas</a></li>
               
            </ol>
        </div> 
      <table class="table">
         <thead>
            <th>Filtros</th>
         </thead>
         <tbody>
            <tr>
               <td>
                  <a class="btn btn-primary"(click)="inscritos()" >Inscritos</a>
               </td>
               <td>
                  <a class="btn btn-primary"(click)="confirmados()">Confirmados</a>
               </td>
               <td>
                  <a class="btn btn-primary" (click)="interesados()">Interesados</a>
               </td>
               <td>
                        <a class="btn btn-primary"(click)="enDuda()">En-Duda</a>
               </td>
               <td>
                  <a class="btn btn-primary"(click)="noParticipa()">No-participa</a>
               </td>
               <td>
                  <a class="btn btn-primary"(click)="proximo()">Proximo</a>
               </td>
               <td>
                  <a class="btn btn-primary"(click)="todos()">Todos</a>
               </td>
            </tr>
         </tbody>
      </table>
      <table class="table table-hover" >
         <thead>
            <tr>
               <th>Nombre</th>
               <th>Celular</th>
               <th>Telefono</th>
               <th>Monto Cancelado</th>
               <th>Perfil</th>
               <th colspan="2">Ajustes</th>
            </tr>
         </thead>
         <tbody> 
            <!--<tr *ngFor="let i of inscriptions | buscarPersona: busqueda">-->
            <tr *ngFor="let i of states">
               <td>{{ i.name }}</td>
               <td>{{ i.cellphone }}</td>
               <td>{{ i.phone }}</td>
               <td>{{ i.canceled_price }}</td>
               <td>
                  <a class="btn btn-info" (click)="viewProfile(i.persons)">VER</a>
               </td>
               <td>
                  <!-- <app-editPerson [editPerson]="event"></app-editPerson> -->
                  <a class="btn btn-warning" (click)="edit(i.persons)">EDITAR</a>
               </td>
            </tr>
         </tbody>
      </table>
      
   </section>
   <router-outlet></router-outlet>
</div>