<div class="content-wrapper">
    <br>
    <div class="">
       <div class="box box-primary">
  
          <div class="container ">
             <div>
                <h1>Añadir Revisión</h1>
                <br>
                <form (ngSubmit)="save()" #addReview="ngForm" class="jumbotron">
                  <!-- <div class="form-group col-sm-8">
                      <label data-error="wrong" data-success="right" for="form8">
                         <i class="fa fa-calendar prefix grey-text"></i> Fecha de Revision</label>
                      <input type="date" id="form34" class="form-control validate" [(ngModel)]="model.date_review" name="date" #date required>
                  </div> -->
                  <div class="form-group col-sm-8">
                      <label for="state">Estado</label>
                      <select class="form-control" id="state" [(ngModel)]="model.state" name="state" #state="ngModel" required>
                        <option value="null" hidden>Seleccionar un Estado</option> 
                        <option value="1" *ngIf="state1!=true">Recepcionado para corrección</option>
                        <option value="2" *ngIf="state2!=true">Entregado a facilitador para 1ra corrección</option>
                        <option value="3" *ngIf="state3!=true">Trabajo pendiente de entrega a alumno</option>
                        <option value="4" *ngIf="state4!=true">Entregado a alumno / enviado a sucursal</option>
                        <option value="5" *ngIf="state5!=true">Trabajo final recepcionado (Diploma pendiente)</option>
                        <option value="6" *ngIf="state6!=true">Con diploma realizado</option>
                        <option value="7" *ngIf="state7!=true">Entregados</option>
                        <option value="8" *ngIf="state8!=true">Recepción para 2da revisión</option>
                        <option value="9" *ngIf="state9!=true">Entregado a facilitador para 2da corrección</option>
                      </select>
                      <!-- <div [hidden]="offices.valid || offices.pristine" class="">
                                 sucursal is required
                         </div> -->
                  </div>
                  <div class="form-group col-sm-8">
                      <label for="obsevations" class=" control-label">Observaciones</label>
                      <input type="text" pattern="[a-zA-ZÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9 .,¿?¡!-]{3,150}" class="form-control" id="observations" 
                      [(ngModel)]="model.observations" name="observations" #observations="ngModel" required>
                      <span *ngIf="!observations.valid && observations.touched && model.observations == ''" class="text-alert">
                        *Observaciones de la Revisión requerido.
                       </span>
                       <span *ngIf="observations.dirty && observations.touched && !observations.valid && model.observations != '' && model.observations.length>150 " class="text-alert">
                        *Observaciones de la Revisión inválido, excedió el límite de 150 caracteres.
                       </span>
                       <span *ngIf="!observations?.pattern && observations.dirty && observations.touched && !observations.valid && model.observations != '' && model.observations.length<3 " class="text-alert">
                        *Observaciones de la Revisión inválido, tiene menos de 3 caracteres.
                       </span>
                      <!--<div [hidden]="descripcion?.valid || descripcion?.pristine" class="">
                                  descripcion requerida
                              </div>-->
                  </div>
                  <div class="form-group col-sm-8" style="text-align:center ">
                      <button type="submit" class="btn btn-success" [disabled]="!addReview?.form.valid">Guardar</button>
                      <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                  </div>
                </form>
             </div>
          </div>
       </div>
    </div>
  </div>  