<div class="content-wrapper">
    <section class="content">
       <!--<div>
          <ol class="breadcrumb">
             <li>
                <a class="btn btn-primary" [routerLink]="['/home/inscription/'+event._id]">
                   <i class="fa fa-book"></i>Inscribir Persona</a>
             </li>
          </ol>
       </div>-->
       <div class="noprint">
          <h3>Lista de inscritos del evento {{event.name}}</h3>
       </div>
       <div class="noprint">
         <a class="btn btn-success" (click)="imprimir()">IMPRIMIR</a>
       </div>
       <div id="printable">
       <table class="table table-hover">
          <thead>
             <tr>
                <th>Nombre</th>
                <th *ngFor="let i of modulos">{{i.name}}</th>
                <!--<th colspan="2">Opciones</th>-->
             </tr>
          </thead>
          <tbody>
             <tr *ngFor="let i of states">
                <td>{{ i.name }}</td>
                <td *ngFor="let i of modulos"><input></td>
             </tr>
          </tbody>
       </table>

       <div align="center">
          <button class="btn btn-primary" (click)="cancelar()">Volver</button>
       </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>
